USE [master]
GO
/****** Object:  Database [pizza_dw]    Script Date: 2/27/2025 4:50:45 PM ******/
CREATE DATABASE [pizza_dw]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pizza_dw', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\pizza_dw.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pizza_dw_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\pizza_dw_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pizza_dw].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pizza_dw]
GO
/****** Object:  Table [dbo].[pizza_sales]    Script Date: 2/27/2025 4:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pizza_sales](
	[pizza_id] [int] NOT NULL,
	[order_id] [smallint] NOT NULL,
	[pizza_name_id] [nvarchar](50) NOT NULL,
	[quantity] [tinyint] NOT NULL,
	[order_date] [date] NOT NULL,
	[order_time] [time](7) NOT NULL,
	[unit_price] [float] NOT NULL,
	[total_price] [float] NOT NULL,
	[pizza_size] [nvarchar](50) NOT NULL,
	[pizza_category] [nvarchar](50) NOT NULL,
	[pizza_ingredients] [nvarchar](100) NOT NULL,
	[pizza_name] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
